{% extends "sharkdata_doc_base.html" %}

{% block title %}SHARKdata - Data policy{% endblock%}

{% block header %}Data policy{% endblock%}

{% block doc-content %}

	<p>
	SHARKdata uses the same data policy as <a href="http://sharkweb.smhi.se">SHARKweb</a>. 
	</p>
	
	<ul>
	  <li>
	    In English: 
	  	<a href="http://www.smhi.se/oceanografi/oce_info_data/SODC/datapolicy_en.pdf">datapolicy_en.pdf</a> 
	  </li>
	  <li>
	    In Swedish: 
	    <a href="http://www.smhi.se/oceanografi/oce_info_data/SODC/datapolicy.pdf">datapolicy.pdf</a>
	  </li>
	</ul>
	
{% endblock doc-content%}
